<div *ngIf="!comments.length" class="ion-margin-top ion-text-center">
  <h3>No comments yet</h3>
  <h4 *ngIf="!userPermissions.guest">Be the first to comment this chapter</h4>
  <h4 *ngIf="userPermissions.guest">Log in and be the first to comment this chapter</h4>
</div>

<ion-list *ngIf="comments.length" lines="none">
  <ng-container *ngFor="let comment of comments">
    <app-comment [comment]=comment (refresh)="doRefresh()" (reply)="replyComment($event)"></app-comment>
  </ng-container>
</ion-list>