div{
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.comment-input{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    --highlight-color-focused: none;
    --highlight-color-valid: none;
    --highlight-color-invalid: none;
}

ion-button{
    --background: #C22E48;
}