<div *ngIf="!userPermissions.guest" class="comment-input">
  <div *ngIf="reply" class="reply">
    <ion-label position="fixed">Reply to {{reply.username}}</ion-label>
    <ion-fab-button (click)="cancelReply()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </div>
  <ion-item>
    <ion-input [placeholder]="reply ? 'Post reply' : 'New comment'" [(ngModel)]="newComment"></ion-input>
    <ion-button shape="round" [disabled]="!newComment" (click)="reply ? postReply() : postComment()">
      <ion-icon name="send"></ion-icon>
    </ion-button>
  </ion-item>
</div>