ion-card{
  padding: 1.5em;
  margin: 1em;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

ion-avatar{
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 3px;
  border-color:  #C22E48;
  border-radius: 50%;
  animation: mymove 10s infinite;
}

ion-button{
  --background: #C22E48;
  color: white;
}
// this css class allows to show the manga cards and creating rows depending on the
// display size
.wrapper{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2%;
  justify-items: center;
  align-items: center;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.settingsButton{
  --background: none;
  --color: gray;
}

.newMangaButton{
  --background: #C22E48;
}

@keyframes mymove {
  0% {border-color: #F78DA9}
  25% {border-color: #9064F5}
  50% {border-color: #D66477}
  75% {border-color: #F54373}
  100% {border-color: #F78DA9}
}
