ion-card{
  padding: 1.5em;
  margin: 1.5em;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

ion-item.item-has-focus > ion-label{
  color:  gray  !important;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.imageInput {
  margin-top: 10%;
}

.native-input.sc-ion-input-md{
  color: aqua;
}


.wrapper{
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
