ion-card{
    padding: 1em;
    border-radius: 2em;
}

img{
    border-radius: 1em;
}

ion-list{
    margin: 1em;
    margin-bottom: 2em;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}