ion-card{
    padding: 1.5em;
    margin: 2em;
    border-radius: 25px;
}

img{
    width: 150px;
}

ion-item{
  margin-top: 1em;
}

ion-item.item-has-focus > ion-label{
  color:  gray  !important;
}

.container{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-flow: wrap;
}

.login-button{
    width: 50%;
    margin: auto;
    color: #fff;
    --background: #C22E48
}

.errors {
    font-size: small;
    color: #fff;
    background: var(--ion-color-danger);
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.no-ripple{
    --ripple-color: transparent;
}
