ion-card{
    padding: 0.75em;
    margin: 5px;
    height: auto;
    width: 145px;
    border-radius: 2em;
}

ion-card img{
    max-width: 125px;
    height: 175px;
    border-radius: 1em;
    object-fit: cover;
}

ion-card-header{
    height: 120px;
}
