<ion-content>

  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <!-- Sign Up to Manga-Sakura<hr/> -->
    <ion-card>
      <ion-item>
        <ion-input type="text" placeholder="email: example@mail.com" formControlName="email">
        </ion-input>
      </ion-item>
          <div *ngIf="user.touched && user.errors" class="errors">
            <span>E-mail is required</span>
          </div>
      <ion-item>
        <ion-input type="text" placeholder="Username" formControlName="user">
        </ion-input>
      </ion-item>
          <div *ngIf="user.touched && user.errors" class="errors">
            <span>Username is required</span>
          </div>
      <!-- error management -->
      <ion-item>
        <ion-input type="password" placeholder="Enter your Password" formControlName="password">
        </ion-input>
      </ion-item>
          <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
            <span *ngIf="password.errors?.required">Password is required</span>
            <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
          </div>
      <ion-item>
        <ion-input type="password" placeholder="Confirm your Password"  formControlName="confirmedPassword"
        (input)="passwordVerifier()">
        </ion-input>
      </ion-item>
          <div *ngIf="(confirmedPassword.dirty || confirmedPassword.touched) && confirmedPassword.errors" class="errors">
            <span *ngIf="confirmedPassword.errors?.required">Password is required</span>
            <span *ngIf="confirmedPassword.errors?.minlength">Password needs to be 6 characters</span>
          </div>
          <span  *ngIf="equalPasswords">{{match}}</span>

      <ion-button type="submit" [disabled]="!registerForm.valid" expand="block" shape="round" class="login-button">
        Sign Up!
      </ion-button>
    </ion-card>

  </form>
</ion-content>
