.viewer-state-card{
    display: flex;
    width: 85%;
    height: max-content;
    margin: auto;
    margin-top: 1em;
    border-radius: 2em;
    padding: 1em;
    align-items: center;
}

.no-viewer-state-card{
    width: 85%;
    height: max-content;
    margin: auto;
    margin-top: 1em;
    border-radius: 2em;
    padding: 2em;
}

ion-toolbar{
    --background: #C22E48;
    color: white;
}

img{
    border-radius: 1em;
    margin-right: 1em;
}

h3, h4{
    margin: 0;
}

h5{
    color: gray;
}

ion-icon{
    font-size: 120px
}