<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container *ngIf="viewerState && lastMangaRead; then viewerStateTemplate else noViewerStateTemplate"></ng-container>

  <ng-template #viewerStateTemplate>
    <ion-card class="viewer-state-card" (click)="openLastMangaRead()">
      <img src={{lastMangaRead.cover_image}} height="120px">
      <div>
        <h3>Continue reading</h3>
        <h2>{{lastMangaRead.title}}</h2>
        <h5>Chapter: {{viewerState.chapterNumber}}</h5>
      </div>
    </ion-card>
  </ng-template>

  <ng-template #noViewerStateTemplate>
    <ion-card class="no-viewer-state-card">
      <h4 class="ion-text-center">You haven't seen any manga yet!</h4>
    </ion-card>
  </ng-template>

  <br>
  <br>
  <ion-item-divider>
    <ion-label>
      Mangas you follow
    </ion-label>
  </ion-item-divider>

  <ng-container *ngIf="followedMangas && followedMangas.length; then mangaCarouselTemplate else noFollowedMangasTemplate"></ng-container>

  <ng-template #noFollowedMangasTemplate>
    <div class="ion-text-center">
      <h5>Here you will see the mangas you follow</h5>
      <ion-icon name="list-outline" color="medium"></ion-icon>
    </div>
  </ng-template>

  <ng-template #mangaCarouselTemplate>
    <app-manga-carousel [mangas]="followedMangas" (refresh)="doRefresh($event)"></app-manga-carousel>
  </ng-template>

</ion-content>