.wrapper{
  padding: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 2%;
  justify-items: center;
  align-items: center;
}

ion-toolbar{
  --background: #C22E48;
  color: white;
}

ion-searchbar{
  --border-radius: 25px;
}