ion-content {
    --background: #2c2f2d;
}
 
ion-slides {
    height: 100%;
    --bullet-background-active: #fff;
    --bullet-background: #000;
}

h1, p{
    color: #fff;
}

#start-button{
    --background: #C22E48
}