<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <ion-text color="light">
        <img src="assets/logos/sakura-logo.png">
        <h1>Sakura Manga Viewer</h1>
        <p>Redefined way to read your favorite mangas.</p>
        <br>
        <ion-button (click)="next()" shape="round" color="medium">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="assets/images/group.png">
        <h1>Become part of our community</h1>
        <p>Explore, upload, read and more.</p>
        <br>
        <ion-button (click)="start()" shape="round" id="start-button">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>