<ion-content>
  <ion-slides pager="true">

    <ion-slide>
      <ion-text color="light">
        <img src="assets/logos/sakura-logo.png">
        <h1>Feature 1</h1>
        <p>Feature description</p>
        <ion-button (click)="next()" fill="outline" color="medium">Next</ion-button>
      </ion-text>
    </ion-slide>

    <ion-slide>
      <ion-text color="light">
        <img src="assets/logos/sakura-logo.png">
        <h1>Feature 2</h1>
        <p>Feature description</p>
        <ion-button (click)="start()" fill="outline" color="medium">Start</ion-button>
      </ion-text>
    </ion-slide>

  </ion-slides>
</ion-content>